html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
  

#bilde {
    width: 80%;
    height: 30%;
}

.scrollContainer {
  width: 100vw;
  min-height: 60vh;
  overflow: hidden;

}
#introduction {
  background-color: lightgray;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}