html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
  

#bilde {
    width: 100%;
    height: 30%;
    justify-content: center;
    
}
#driver{
  width: 50%;
  height: 50%;
  padding: 5rem;
}

h2 {
  font-size: 3rem;
  color: #605f5ef7;
  text-shadow: 2px 2px 2px #000;
}

.scrollContainer {
  width: 100vw;
  min-height: 60vh;
  overflow: hidden;

}
#introduction {
  background-color: lightgray;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.scrollText {
  margin: 3vh auto;
  max-width: 50rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.8);
  color: #000;
}
